/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
button{
    padding: 0.5% 1%;
    margin: 0% 2%;
    font-weight: 900;
}

/* Dark mode styles */
.dark-mode {
    --bg-color: #333;
    --text-color: #fff;
    --form-bg-color: #444;
    --form-text-color: #ccc;
}

/* Light mode styles */
.light-mode {
    --bg-color: #fff;
    --text-color: #333;
    --form-bg-color: #f2f2f2;
    --form-text-color: #333;
}

/* Form styles */
form {
    background-color: var(--form-bg-color);
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    text-align: center;
}

input, select {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin: 10px 0;
    width: 100%;
    max-width: 400px;
    color: var(--form-text-color);
    background-color: var(--form-bg-color);
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

/* Header styles */
h2 {
    text-align: center;
    color: var(--text-color);
    margin: 20px 0;
}

/* Date styles */
#dateTime {
    text-align: right;
    color: var(--text-color);
    font-size: 0.8em;
    margin: 10px 0;
}
/* overlay & verification */
.overlay{
    background-color: #000;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    opacity: 0.7;
}
#verify{
    visibility: hidden;
}
.content{
    opacity: 1;
	width: 80vw;
	margin: auto;
	/* border-radius: 15px; */
	text-align: center;
	position: relative;
    top: 20vh;
    max-height: 70vh;
    overflow-y: scroll;
    box-shadow: 10 14px 18px 10 rgba(10,10,0,110.2);
}
/* table */
table {
    width: 95%;
    margin: auto;
    text-align: center;
}
#name{
    text-align: left;
}